$gutter: 20;

.o-container {
    max-width    : rem-calc($global-width);
    margin-left  : auto;
    margin-right : auto;
    padding-left : rem-calc($gutter);
    padding-right: rem-calc($gutter);
}