$body_color  : #222;
$bg_color    : #fff;
$light_color : #ededed;
$grey_color  : #aaa;

$error_color : #be2323;

$blue_color  : #8b9dff;
$red_color   : #be4b23;
$yellow_color: #ffa700;
$brown_color : #4a1e14;
$beige_color : #B99971;
$green_color : #2D763A;
$purple_color: #c6a5ac;