$body-background     : $bg_color !default;
$body-font-size      : 16px !default;
$global-weight-normal: 400 !default;
$global-lineheight   : 1.62 !default;
$body-font-color     : $body_color !default;
$base-font-size      : 100% !default;
$global-width        : 1440 !default;